{% extends 'base.html' %}

{% block content %}
<div class="products-bar">- Your Cart -</div>
<div class="container">
    {% for item in cart_products %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 cart-item-container">
        <a href="{% url 'product_detail' item.product.id %}" class="card-link">
            <img src="{{ item.product.image.url }}" class="card-img-top cart-product" alt="{{ item.product.name }}">
        </a>
        <div class="item-info">
            <h5>{{ item.product.name }}</h5>
            <span class="price">€{{ item.product.price }}</span>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Total: €{{ item.total_item_price }}</p>
            <!-- Update and remove form/actions here -->
        </div>
    </div>
    {% endfor %}
    <div class="cart-summary">
        <a href="#" class="btn edit-button">Checkout</a>
        <h3>Total: €{{ total_price }}</h3>
    </div>
</div>
{% endblock %}