{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="products-bar-sort products-bar"> - All Products -
    {% include 'includes/_search_form.html' %}
</div>
<div class="container">
    <div class="row">
        {% for product in page_obj %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            {% include 'includes/_product_card.html' %}
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}