{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>All Products</h2>
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    {% if product.on_sale %}
                    <p class="price special-offer">€{{ product.price }} <span class="special-offer"> - Special
                            Offer!</span></p>
                    {% else %}
                    <p class="price">€{{ product.price }}</p>
                    {% endif %}
                    <p class="card-text">{{ product.description }}</p>
                    <a href="#" class="btn store-button">Add to cart!</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
{% endblock %}