{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <img src="{% static 'media/images/frying-pan.png' %}" class="card-img-top" alt="Frying pan">
                <div class="card-body">
                    <h5 class="card-title">Frying pan</h5>
                    <p class="card-text">It's a frying pan.</p>
                    <a href="#" class="btn btn-primary">Add to cart!</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card">
              <img src="{% static 'media/images/frying-pan.png' %}" class="card-img-top" alt="Frying pan">
              <div class="card-body">
                  <h5 class="card-title">Frying pan</h5>
                  <p class="card-text">It's a frying pan.</p>
                  <a href="#" class="btn btn-primary">Add to cart!</a>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card">
            <img src="{% static 'media/images/frying-pan.png' %}" class="card-img-top" alt="Frying pan">
            <div class="card-body">
                <h5 class="card-title">Frying pan</h5>
                <p class="card-text">It's a frying pan.</p>
                <a href="#" class="btn btn-primary">Add to cart!</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card">
          <img src="{% static 'media/images/frying-pan.png' %}" class="card-img-top" alt="Frying pan">
          <div class="card-body">
              <h5 class="card-title">Frying pan</h5>
              <p class="card-text">It's a frying pan.</p>
              <a href="#" class="btn btn-primary">Add to cart!</a>
          </div>
      </div>
  </div>
            
    </div>
</div>
{% endblock %}
