#logo-banner {
    max-width: 100%;
    max-height: 5rem;
}

#logo-container {
    background-color: #d17630;
    display: flex;
    justify-content: center;
}

.page-header {
    display: inline-block;
    color: red;
    size: 100px;
}

.login-navbar .nav-link {
    display: inline-block;
}

li > a:hover {
    color: #d17630;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form p, form label {
    margin-bottom: 15px;
}

/* Form Input Styles */
form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="password"],
form textarea,
form select {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form textarea {
    height: 150px;
    resize: vertical;
}

.products-bar {
    text-align: center;
    font-size: 1.4rem;
    color :#d17630;
    margin-bottom: 2em;
    text-transform: uppercase;
}

.special-offer {
    color: #d17630;
    font-weight: bold;
}

.store-button, button {
    border-color: #d17630;
    transition: background-color 0.7s; color: black;
    color: #d17630;
}

.store-button:hover, button:hover {
    background-color: #d17630;
    border-color: #d17630;
    color: black;
}

.sale-link {
    color: #d17630;
    text-transform: uppercase;
    text-decoration: underline;
}

.dropdown {
    background-color: #f8f9fa;
    text-align: center;
}

.dropdown a {
    text-decoration: none;
    color: black;
}

h3 {
    color: #d17630;
}

.about-us {
    text-align: center;
}

.card-link {
    text-decoration: none;
    color: black;
}

.card-link:hover {
    border-color: #d17630;
}

.product-image{
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#product-cart-btn {
    left: 20%;
    position: relative;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .tab button {
    border: none;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    background-color: #f1f1f1;
  }

  .staff-badge {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #d17630;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.edit-button {
    background-color: #d17630;
    transition: background-color 0.7s; color: black;
    color: white;
}

.edit-button:hover {
    background-color: #f1f1f1;
    border-color: #d17630;
    color: #d17630;
}

button {
    border-radius: 5px;
    background-color: white;
}
  
