{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="container">
        <div class="products-bar">- My Account - <br> {% if request.user.is_staff %}
            <div class="staff-badge">Employee <i class="fas fa-star"></i>
            </div>
            <div style="padding-top: 10px;">
                <a class="btn store-button" href="{% url 'view_messages' %}">View Messages</a>
                <a class="btn store-button" href="{% url 'add_product' %}">Add Product</a>
                <a class="btn store-button" href="{% url 'create_article' %}">Add Blog Entry</a>
            </div>
            {% endif %}
        </div>

        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Profile')" id="defaultOpen">Profile</button>
            <button class="tablinks" onclick="openTab(event, 'Orders')">Orders</button>
            <button class="tablinks" onclick="openTab(event, 'ChangePassword')">Change Password</button>
        </div>

        <div id="Orders" class="tabcontent">
            <p>Testing</p>
        </div>

        <div id="Profile" class="tabcontent">
            <p><strong>Username:</strong> {{ request.user.username }}</p>
            <p><strong>Name:</strong> {{ request.user.first_name }} {{ request.user.last_name }}</p>
            <p><strong>Email:</strong> {{ request.user.email }}</p>
            <p><strong>Mailing list:</strong> {{ user_profile.shopping_mailing_list|yesno:"Yes,No" }} <strong> Blog
                    Mailing
                    list:</strong> {{ user_profile.blog_mailing_list|yesno:"Yes,No" }}</p>

            <div class="edit-profile-button">
                <a href="{% url 'edit_profile' %}" class="btn edit-button">Edit Profile</a>
            </div>

        </div>

        <div id="ChangePassword" class="tabcontent">
            <p>Testing</p>
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/account.js' %}"></script>
</body>
{% endblock %}